<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
<!--    dtree-->
    <link rel="stylesheet" th:href="@{/static/app/module/dtree/dtree.css}">
    <link rel="stylesheet" th:href="@{/static/app/module/dtree/font/dtreefont.css}">
    <title>OWN</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
</head>
<body>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"charset="utf-8"></script>
<script type="text/javascript" th:src="@{/static/app/js/scriptInc.js}"charset="utf-8"></script>
<!--<script th:src="@{/static/jquery/jquery-3.1.1.js}" type="text/javascript" charset="utf-8"></script>-->

</body>
</html>