<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.own.dao.role.RoleMapper">
    <resultMap id="BaseResultMap" type="com.cy.own.entity.role.Role">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="role_level" property="roleLevel" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_disabled" property="isDisabled" jdbcType="TINYINT"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_name, description, create_time, parent_id,is_disabled,role_code,role_level
  </sql>

    <resultMap id="RoleVoMap" type="com.cy.own.entity.role.vo.RoleTreeVo" extends="BaseResultMap">

        <collection property="children" column="id"
                    ofType="com.cy.own.entity.role.vo.RoleTreeVo"
                    select="selectRoleChildren"/>
    </resultMap>

    <!--  根据用户id获取角色信息-->
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from role where id in (
        select role_id from user_role where user_id=#{userId,jdbcType=VARCHAR}
        )
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from role
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--    获取所有一级角色信息-->
    <select id="getRoles" resultMap="RoleVoMap">
        select
        <include refid="Base_Column_List"/>
        from role
        <where>
            <if test="_parameter!=null">
                parent_id=#{id,jdbcType=VARCHAR}
            </if>
            <if test="_parameter==null">
                parent_id=-1
            </if>
        </where>

    </select>
    <!--    子查询-->
    <select id="selectRoleChildren" resultMap="RoleVoMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from role where parent_id = #{id,jdbcType=VARCHAR}
    </select>

    <!--    查询所有角色信息-->
    <select id="selectAllRoles" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        <where>
            <if test="parentId!=null">
                parent_id = #{parentId,jdbcType=VARCHAR}
            </if>

            <if test="idOrName!=null">
                and (role_name=#{idOrName,jdbcType=VARCHAR} or role_code=#{idOrName,jdbcType=VARCHAR})
            </if>
        </where>

        order by role_level asc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete
            id="delRoles" parameterType="string">
        delete from role
        where id in
        <foreach
                collection="list" open="(" separator="," close=")"
                 item="id" index="index">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <insert id="insertSelective" parameterType="com.cy.own.entity.role.Role">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="roleLevel != null">
                role_level,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="isDisabled != null">
                is_disabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>

            <if test="roleLevel != null">
                #{roleLevel,jdbcType=INTEGER},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>

            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="isDisabled != null">
                #{isDisabled,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cy.own.entity.role.Role">
        update role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>

            <if test="roleLevel != null and roleLevel != 0">
                role_level=#{roleLevel,jdbcType=INTEGER},
            </if>
            <if test="roleCode != null">
                role_code=#{roleCode,jdbcType=VARCHAR},
            </if>

            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="isDisabled != null">
                is_disabled=#{isDisabled,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>