<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/scriptInc">
    <meta charset="UTF-8">
    <title>用户详情</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <form class="layui-form" action="" id="userDetailForm" lay-filter="userDetailForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sex" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
<!--                        <input type="radio" name="sex" value="1" title="男">-->
<!--                        <input type="radio" name="sex" value="0" title="女">-->
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-inline">
                        <input type="text" name="birthday" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="eMail" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tel" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">去激活</label>
                    <div class="layui-input-inline">
                        <input type="text" name="enabled" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
<!--                        <input type="radio" name="enabled" value="true" title="激活"  >-->
<!--                        <input type="radio" name="enabled" value="false" title="去激活">-->
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">是否锁定</label>
                    <div class="layui-input-inline">
                        <input type="text" name="accountNonLocked" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
<!--                        <input type="radio" name="accountNonLocked" value="true" title="未锁定">-->
<!--                        <input type="radio" name="accountNonLocked" value="false" title="已锁定">-->
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">凭证到期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="credentialsNonExpired" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
<!--                        <input type="radio" name="credentialsNonExpired" value="true" title="未到期">-->
<!--                        <input type="radio" name="credentialsNonExpired" value="false" title="已到期">-->
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">授权到期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="accountNonExpired" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
<!--                        <input type="radio" name="accountNonExpired" value="true" title="未到期">-->
<!--                        <input type="radio" name="accountNonExpired" value="false" title="已到期">-->
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="createTime" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">最后登录时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="lastLoginTime" readonly required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">登录次数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="loginCount" readonly required lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <!--                <div class="layui-form-item">-->
                <!--                    <div class="layui-input-inline">-->
                <!--                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>-->
                <!--                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                <!--                    </div>-->
                <!--                </div>-->
            </form>
        </div>
    </div>
</div>
</body>
<script>


    layui.use(['form'], function () {
        var $ = layui.$;
        var form = layui.form;

        window.child = function (data) {
            var d = JSON.parse(data);
            console.log(d.sex)
            d.sex=d.sex=='1'?'男':'女';
            d.enabled=d.enabled==true?'激活':'未激活';
            d.accountNonLocked=d.accountNonLocked==true?'未锁定':'锁定';
            d.credentialsNonExpired=d.credentialsNonExpired==true?'未到期':'到期';
            d.accountNonExpired=d.accountNonExpired==true?'未到期':'到期';
            form.val("userDetailForm",d);
        }
    })

</script>
<style type="text/css">
    .layui-input{

    }
    #userDetailForm{
        padding-top: 15px;
    }
</style>
</html>