<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/scriptInc">
    <meta charset="UTF-8">
    <title>报错了</title>
</head>
<body>
    <div th:if="${status}==404" id="img-404">
        <div class="btn-404" onclick="returnIndex()"></div>
    </div>
<script type="text/javascript">
    function returnIndex(){
        window.location.href='/forward/index';
    }
</script>
</body>
<style type="text/css">
    body{
        height: 100vh;
        width: 100vw;
    }
    #img-404{
        height: 100vh;
        width: 100vw;
        background-image: url('/static/images/error/404.gif');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .btn-404{
        position: absolute;
        width: 10vw;
        height: 8vh;
        margin:87vh 0 0 45vw;
        cursor: pointer;
    }
</style>
</html>