<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="common/scriptInc">
    <meta charset="UTF-8"/>
    <title>首页</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <img th:src="@{/static/images/own_logo.gif}" th:alt="'无图片'" style="height: inherit; width: inherit;"/>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><i class="layui-icon layui-icon-shrink-right"></i> </li>
            <li class="layui-nav-item"><a href="">主页</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/static/images/head_img/head_default.jpg}" class="layui-nav-img">
                    <span sec:authentication="name"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="logout()">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" sec:authorize="hasRole('ROLE_admin')">
                    <a class="" href="javascript:;" lay-direction="2" lay-tips="主页"><i class="layui-icon layui-icon-auz"></i> <cite>授权管理</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="iframeSrc('/users/user-manage');">用户管理</a></dd>
                        <dd><a href="javascript:;">角色管理</a></dd>
                        <dd><a href="javascript:;">权限管理</a></dd>
                        <dd sec:authorize="hasAuthority('index_home')"><a href="javascript:;">菜单管理</a></dd>
                        <dd><a href="javascript:;">按钮管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe name="frameContent" src="/forward/home" id="iframeMain" width="100%" height="100%" scrolling="auto"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use(['layer','element'], function(){
        var element = layui.element;
        var $ = layui.$;
        var layer = layui.layer;

        window.iframeSrc=function (srcValue){
            $('iframe').attr('src',srcValue);
        }

    });
    function logout(){
        var l =layer.confirm('确定退出系统？', {
            btn: ['ok','不'] //按钮
        }, function(){
            window.location.href="/forward/logout";
        }, function(){
            layer.close(l);
        });
    }


</script>
</body>
</html>