<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/scriptInc">
    <meta charset="UTF-8"/>
    <title>登录</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <span class="title-content">权限管理系统</span>
        </div>

    </div>
    <!--    登录-->
    <div class="layui-row login-block">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-md-offset4 login-content">
            <div class="layui-card login-card">
                <div class="layui-card-header">登录</div>
                <div class="layui-card-body">
                    <label style="color: red" th:if="error!=''" th:text="${error}"></label>
                    <!--                    action写路径随便，只需要和配置的登录路径一样即可-->

                    <form class="layui-form" th:action="@{/forward/login}" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="userName" required lay-verify="required" placeholder="请输入用户名"
                                       autocomplete="off" class="layui-input" autofocus="autofocus">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码：</label>
                            <div class="layui-input-block">
                                <input type="password" name="passWord" required lay-verify="required"
                                       placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <!--                                此处必须为name="remember-me"-->
                                <input type="checkbox" name="remember-me" id="remember-me" title="记住密码"
                                       lay-skin="primary">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="formLogin" type="submit">登录</button>
                                <button class="layui-btn" type="button" id="to-register" href="/forward/to-register"><i class="layui-icon">去注册&#xe602;</i>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var $ = layui.$;

        //生日日期选择执行一个laydate实例
        laydate.render({
            elem: '#birthday' //指定元素
            , type: 'date'
        });

        form.verify({
            userName: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^([\u4E00-\\uFA29]|[\\uE7C7-\\uE7F3]|[a-zA-Z0-9]){4,16}$").test(value)) {
                    return '4-16位，可以包括字母，数字，汉字！';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            },
            passWord: [
                /^.*(?=.{8,12})(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*?_]).*$/
                , '密码必须8-12位，必须包括字母，数字，特殊字符！'
            ]
        });
        $("#to-register").click(function () {
            window.location.href="/forward/to-register";
        });
        // $("#to-login").click(function () {
        //     $(".login-block").show();
        //     $(".register-block").hide();
        // });
    });


</script>
</body>
<style>
    body {
        background-color: #2F4056;
    }

    .login-content {
        margin-top: 24vh;
    }

    .title-content {
        display: block;
        font-size: 6vh;
        color: white;
        text-align: center;
        width: 100%;
    }

</style>
</html>