<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/scriptInc">
    <meta charset="UTF-8"/>
    <title>登录</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <span class="title-content">权限管理系统</span>
        </div>

    </div>

    <!--    注册-->
    <div class="layui-row register-block">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-md-offset4 register-content">
            <div class="layui-card login-card">
                <div class="layui-card-header">注册</div>
                <div class="layui-card-body">
                    <label id="validity_msg" style="color: red;"></label>
                    <form class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="userName" id="userName" required lay-verify="userName" placeholder="请输入用户名"
                                       autocomplete="off" class="layui-input"/>

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码：</label>
                            <div class="layui-input-block">
                                <input type="password" name="passWord" required lay-verify="passWord"
                                       placeholder="请输入密码" autocomplete="off" class="layui-input" id="register-pw"/>

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码：</label>
                            <div class="layui-input-block">
                                <input type="password" name="confirmPassWord" required lay-verify="confirmPassWord"
                                       placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
<!--                        <div class="layui-form-item">-->
<!--                            <label class="layui-form-label">性别</label>-->
<!--                            <div class="layui-input-block">-->
<!--                                <select name="sex" lay-verify="required">-->
<!--                                    <option value=""></option>-->
<!--                                    <option value="1">男</option>-->
<!--                                    <option value="0">女</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="1" title="男">
                                <input type="radio" name="sex" value="0" title="女">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">出生日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="birthday" required lay-verify="required" class="layui-input"
                                       id="birthday">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="to-login" type="button"><i
                                        class="layui-icon">&#xe603;去登录</i></button>
<!--                                彻底禁用按钮需添加disabled属性-->
                                <button class="layui-btn" lay-submit lay-filter="formRegister" id="register-btn" disabled="disabled">注册</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var $ = layui.$;

        //生日日期选择执行一个laydate实例
        laydate.render({
            elem: '#birthday' //指定元素
            , type: 'date'
        });


        //注册表单监听提交
        form.on('submit(formRegister)', function (data) {
            var users = data.field;
            console.log(users);
            $.ajax({
                url: '/user/user-register', type: "post", data: users, success: function (result) {
                    console.log(result);
                    if(result.application==22001){
                        //询问框

                        var l =layer.confirm('注册成功，3后将为您自动跳转登录页面？', {
                            btn: ['ok','不'] //按钮
                        }, function(){
                            window.location.href="/forward/to-login";
                        }, function(){
                            layer.close(l);
                        });
                    }else{
                        layer.msg("注册失败，请刷新重试！");
                    }
                    return false;
                },
                error: function (result) {
                    console.log(result);
                    return false;
                }
            })
            return false;
        });

        form.verify({
            userName: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^([\u4E00-\\uFA29]|[\\uE7C7-\\uE7F3]|[a-zA-Z0-9]){4,16}$").test(value)) {
                    return '4-16位，可以包括字母，数字，汉字！';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            },
            passWord: [
                /^.*(?=.{8,12})(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*?_]).*$/
                , '密码必须8-12位，必须包括字母，数字，特殊字符！'
            ],
            confirmPassWord: [
                /^.*(?=.{8,12})(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*?_]).*$/
                , '密码必须8-12位，必须包括字母，数字，特殊字符！'
            ],
            confirmPassWord: function (value, item) {
                if ($("#register-pw").val() != value) {
                    return "密码不一致，请确认！";
                }
            }
        });
        // $("#to-register").click(function () {
        //     $(".login-block").hide();
        //     $(".register-block").show();
        // });
        $("#to-login").click(function () {
            window.location.href="/forward/to-login";
        });

        $("#userName").change(function(){
            $.ajax({
                url:"/user/val-user-name",
                type:'get',
                data:{"userName":$("#userName").val()},
                success:function(result){
                    if(result.code==52002){
                        $("#validity_msg").text(result.msg);
                        $("#register-btn").addClass("layui-btn-disabled");
                    }
                    if(result.code==22002){
                        layer.msg(result.msg, {icon: 6,offset:'10vh',time:1500});
                        $("#validity_msg").text('');
                        $("#register-btn").removeClass("layui-btn-disabled");
                    }
                },
                error:function(result){
                    $("#validity_msg").text("验证出错，请刷新重试！");
                }
            });
        });
    });


</script>
</body>
<style>
    body {
        background-color: #2F4056;
    }


    .title-content {
        display: block;
        font-size: 6vh;
        color: white;
        text-align: center;
        width: 100%;
    }

    .register-block {
        margin-top: 24vh;
    }
</style>
</html>