<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/scriptInc">
    <meta charset="utf-8">
    <title>角色管理</title>

</head>

<body class="layui-row">

<div class="layui-col-md12" style="padding: 10px 10px;">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>基本功能</legend>
        <div class="layui-field-box">
            <p>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="expand" onmouseover="showTips1()">展开</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="collapse" onmouseover="showTips2()">收起</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="destory" onmouseover="showTips10()">销毁</button>
            </p>
            <p>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="all" onmouseover="showTips8()">获取所有节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="selected" onmouseover="showTips3()">获取选中节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="unSelected" onmouseover="showTips17()">获取未选中节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="getNode" onmouseover="showTips9()">获取节点信息</button>

                <button class="layui-btn layui-btn-sm layui-btn-primary" id="expandNode" onmouseover="showTips11()">展开节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="collapseNode" onmouseover="showTips12()">折叠节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="checkNode" onmouseover="showTips13()">勾选节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="uncheckNode" onmouseover="showTips14()">取消勾选节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="checkAllNode" onmouseover="showTips18()">勾选全部节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="unCheckAllNode" onmouseover="showTips19()">取消勾选全部节点</button>

                <button class="layui-btn layui-btn-sm layui-btn-primary" id="disableNode" onmouseover="showTips15()">禁用checkbox</button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" id="ableNode" onmouseover="showTips16()">解禁checkbox</button>

                <button class="layui-btn layui-btn-sm layui-btn-primary" id="getNodeByParam" onmouseover="showTips20()">查找节点</button>

            </p>
        </div>
    </fieldset>

    <fieldset class="layui-elem-field layui-field-title">
        <legend>编辑功能</legend>
        <div class="layui-field-box">
            <p>
                <button class="layui-btn layui-btn-sm" id="addRootNode" onmouseover="showTips4()">添加根节点</button>
                <button class="layui-btn layui-btn-sm" id="addChildrenNode" onmouseover="showTips5()">添加子节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-normal" id="editNode" onmouseover="showTips6()">编辑节点</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger" id="removeNode" onmouseover="showTips7()">删除节点</button>
            </p>
        </div>
    </fieldset>

    <div id="roles"></div>
    <div id="page-content"></div>
</div>
<div class="layui-col-md3" style="padding: 10px 10px;"></div>
</body>
<style type="text/css">
    p {
        margin-bottom: 20px;
    }
    .layui-form-checkbox[lay-skin=primary] {
        padding-left: 0
    }
    .layui-laypage {
        position: relative;
        width: 100%;
        padding: 7px 7px 0;
        height: 41px;
        font-size: 12px;
        white-space: nowrap;
        margin: 0;
    }
    .layui-table, .layui-table-view {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .layui-laypage a,.layui-laypage span {
        border: none;
    }
    #page-content{
        position: relative;
        border: 1px solid #f0f0f0;
    }

</style>
<script th:src="@{/static/app/module/treetable/demo.js}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/static/app/js/role/roleManage.js}" >

</script>

</html>